<?xml version="1.0" encoding="UTF-8"?>

        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <test name="testingPageObjects">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.examples.test.PageObjectChecking">
                <methods>
                    <include name = "testingLogin"/>
                    <include name = "testingPageObjects"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
